body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
#navbar{
    display: flex;
    justify-content: end;
}
li{
    list-style-type: none;
    padding-top: 1em;
}
.navbar-link{
    text-decoration: none;
    color:white;
    padding: 1em;
    padding-bottom: 1em;
}
.navbar-link:hover{
    border-bottom: 5px solid blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(26, 26, 26);
}